/* LandingPage.css */
.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  padding: 20px;
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* height: 50px; */
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.headline {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.welcome-message {
  text-align: center;
  /* margin-top: 40px; */
}

.welcome-text {
  font-size: 158px; /* Increased font size for better visibility */
  color: #555;
  margin: 0;
}

.dynamic-username {
  color: #007bff;
  font-weight: bold;
}

.sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sponsor-logo {
  width: 150px;
  height: auto;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .headline {
    font-size: 20px;
  }

  .welcome-text {
    font-size: 24px; /* Adjusted for smaller screens */
  }

  .sponsor-logo {
    width: 120px;
  }
}
